/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --primary: #f7aa00;
  --text: #00104a;
  --secondary: #b1e8ed;
  --secondary-light: #e6f8f9;
  --global-background: #fafafa;

  --business-card-main-width: 850px;
  --business-card-main-height: 550px;
}



body {
  color: var(--text);
  background-color: var(--global-background);

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  margin: 0;
}

/* clear styles */

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* qwik styles */

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}

section {
  padding: 20px;
  border-bottom: 10px solid var(--qwik-dark-blue);
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}
