dt {
  font-weight: bold;
}

dd {
  margin-top: 6px;
  margin-bottom: 6px;
}

dd:last-of-type {
  margin-bottom: 18px;
}

.page-divider {
  display: flex;
}

.page-divider__left {
  flex: 12;
}

.page-divider__right {
  flex: 12;
}